@import "tailwindcss";

@media (max-width: 640px) {
  body {
    font-size: 0.875rem; /* Adjust font size for small screens */
    line-height: 1.25rem; /* Adjust line height for small screens */
    padding: 0.5rem; 
    margin: 0;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.875rem; /* Adjust font size for medium screens */
    line-height: 1.25rem; /* Adjust line height for medium screens */
    padding: 0.5rem;
    margin: 0;
  }
}
